/* Space out content a bit */
@import "_bootstrap.less";
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  padding-top: 0px;
  padding-bottom: 20px;
}
a {
  cursor: pointer;
}
.img-responsive {
  width: 100%;
}

.profile-img {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: 10px;
}

@import "card/card.less";