<h2>Visual Hacker News</h2>
<p>Quick way to visualize the top 100 news items on <a href="https://news.ycombinator.com/">Hacker news</a> using <a href="https://angularjs.org/">Angularjs</a> and <a href="https://github.com/HackerNews/API">HackerNews Firebase API</a>.</p>
<div infinite-scroll="nextPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="1">
	<div class="row marketing" ng-show="news">
		<div class="col-sm-6" ng-repeat="newsItem in news track by ::newsItem.id">
			<div class="news-item">
			  <h5 class="news-title">{{::newsItem.title}}</h5>
			  <a href="{{::newsItem.url}}" target="_blank"><img class="img-responsive" ng-src="http://api.webthumbnail.org?width=500&height=500&screen=1024&format=jpg&url={{::newsItem.url}}" alt="{{::newsItem.title}}" /></a>
			</div>
		</div>
	</div>
</div>
